body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
 
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  

  .leftcolumn {
    float: left;
    width: 70%;
  }
  

  .rightcolumn {
    float: right;
    width: 30%;
    padding-left: 20px;
  }

  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 176, 5);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(206, 118, 19);
  }
  .active {
    background-color: #c2951b;
  }

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;
}

