@media(min-width:321px) {
    .selector {
    }
  }
@media(max-width: 400px) {
    body {
        background-color: aquamarine;
    }
}

.ini_artikel {
    background-color: lightblue;
    padding: 10px;
    padding-left: 20px;
    margin: 10px;
}

.first_article {
    background-color:blueviolet;
}

.title_article {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;

}

.img_article {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}

.img_carousel {
    width: auto;
    height: 400px;
}

.tutorials {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.form_pendaftaran {
    margin: 100px;

}
.topnav-right {
    float: right;
  }